a { color: #0000A0; }
a:link { color: #A000A0; } 
a:visited { color: #400080; }

a#banner {
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
	font-variant: small-caps;
	margin: 5px;
	padding: 2px;
	border-width: 2px;
	border-color: #000;
	border-style: solid;
	font-family: serif;
	color: #FFF;
	background-color: #888;
	text-decoration: none;
}

body { 
	background-color: #FFFFFF;
	color: #000000;	
	font-family: arial, helvetica, sans-serif, verdana;
	font-size: 14px;
	margin: 0px;
	padding: 10px;
}

div { 
	border-width: 0;
	margin: 0;
	padding: 0;
}
div#content {
	margin: 10px 10px 0 220px;
	padding: 0 25px 0 5px;
	width: auto;
}
div#nav {
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 210px;
}
div#nav a {	display: block; }

h1 {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0px;
}

li { padding: 2px; }
ul, p { padding: 0px 10px; }

