<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>code.jeremyevans.net<%= " - #{@title}" if @title %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link href="style.css" rel="stylesheet">
</head>

<body>
<div class="navbar">
  <div class="container">
    <a href="index.html" class="navbar-brand">code.jeremyevans.net</a>

    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="openbsd.html">OpenBSD</a></li>
      <li class="nav-item"><a class="nav-link" href="ruby.html">Ruby</a></li>
      <li class="nav-item"><a class="nav-link" href="http://github.com/jeremyevans?tab=repositories">GitHub</a></li>
      <li class="nav-item"><a class="nav-link" href="contrib.html">Contributions</a></li>
      <li class="nav-item"><a class="nav-link" href="presentations.html">Presentations</a></li>
      <li class="nav-item"><a class="nav-link" href="interviews.html">Press</a></li>
    </ul>
  </div>
</div>

<div class="container">
<%= (defined?(content) ? content : eval('yield')) %>
</div>

</body>
</html>
