.navbar-nav {flex-direction: row; flex-wrap: wrap;}
.nav-item {margin-left: 20px;}

pre {
  background-color: #f5f5f5;
  padding: 5px 10px;
}

img {
  max-width: 100%;
}

div.prp {
  align-items: center;
}
