/* custom css and js files included at the top level of your presentation will
 * will be included in your presentation */

.slide {
 font-family: 'Playfair Display', serif;
 font-weight: bold;
 color: #373333;
 background-color: #ebe8e8;
 text-align: left;
}

h1, pre, td, tr {
 font-family: inherit;
 font-weight: inherit;
 color: inherit;
 background-color: inherit;
 text-align: inherit;
 background-color: transparent;
 margin: 0;
 padding: 0;
}
pre {
  line-height: 150%; 
}
td, th {
 font-size: inherit;
 text-align: center;
 padding: 8px 15px;
}
th {
 border-bottom: 5px solid white;
}
td.trans {
  text-align: left;
}

.right {
 text-align: right;
}

.content {
 margin-left: 20px;
 margin-right: 20px;
}

.bigger {
 font-size: 180%;
}
.smaller {
 font-size: 50%;
}
.mono, pre {
 font-family: 'PT Mono'; 
}

.bright-red {
 color: #A80500;
}
.medium-red {
 color: #9A0300;
}
.dark-red {
 color: #670100;
}
.black {
 color: black;
}
.white {
 color: #ebe8e8;
}
.gray {
 color: #373333;
}
.red-gray {
 color: #473333;
}

.trans, .it, .trans.smaller.it {
 font-style: italic;
}
.trans.smaller, .trans.normal {
 font-style: normal;
}


.bg1 {
 background-color: #670100;
 color: #ebe8e8;
}
.bg2 {
 background-color: #373333;
 color: #ebe8e8;
}
.bg3 {
 background-color: #473333;
 color: #ebe8e8;
}
.bg4 {
 color: #670100;
 background-color: #ebe8e8;
}
.bg-howe, .bg-karlton {
 background-repeat: no-repeat;
}

.review {
position: absolute;
font-size: 70px;
text-align: right;
top: 105px;
right: 15px;
padding: 10px;
padding-bottom: 20px;
border: 5px black dotted;
display: inline-block;
-webkit-transform: rotate(30deg);
-moz-transform: rotate(30deg);
transform: rotate(30deg);
}
.review.bg4 {
border: 5px #670100 dotted;
}

.slide.bg-givego {background-image: url('givego.jpg')}
.slide.bg-goal {background-image: url('goal.jpg')}
.slide.bg-jeremy {background-image: url('jeremy.jpg')}
.slide.bg-gretzky {background-image: url('gretzky.jpg')}
.slide.bg-howe {background-image: url('howe.jpg')}
.slide.bg-orr {background-image: url('orr.jpg')}
.slide.bg-karlton {background-image: url('karlton.jpg')}
