<h1>Welcome to code.jeremyevans.net</h1>

<p>This site contains links to open source software I've written and projects I maintain or help develop.  Most software here written by me has been released under the <a href="http://www.opensource.org/licenses/mit-license.php">MIT License</a>.  It also contains some writing on technical topics.</p>

<h2>Writing</h2>

<ul>
<li><a href="2022-11-01-forcing-sequential-scans-on-postgresql.html">2022-11-01 Forcing Sequential Scans on PostgreSQL</a></li>
<li><a href="2022-09-02-migrating-off-heroku.html">2022-09-02 Migrating Off Heroku</a></li>
<li><a href="2022-01-20-ssh-reverse-tunnel.html">2022-01-20 Using An SSH Reverse Tunnel for Remote System Maintenance</a></li>
<li><a href="2021-07-29-running-my-own-email-server.html">2021-07-29 Running My Own Email Server</a></li>
</ul>
