<% @title = 'Awards, Books, and Interviews' %>

<h1>Awards</h1>

<ul>
<li><a href='https://rubyprize.jp/'>2020 Ruby Prize Winner</a></li>
<li><a href='https://rubyprize.jp/19_award.html'>2019 Ruby Prize Final Nominee</a></li>
<li><a href='https://rubyheroes.com/heroes/2015'>2015 Ruby Hero Award</a></li>
</ul>

<h1>Books</h1>

<ul>
<li><a href='polished-ruby-programming.html'>Polished Ruby Programming</a></li>
</ul>

<h1>Audio/Video Interviews</h1>

<ul>
<li><a href='https://www.contentfor.dev/2095003/12788637-010-advanced-ruby-with-jeremy-evans'>content_for :devs: Advanced Ruby with Jeremy Evans</a></li>
<li><a href='https://www.rubberduckdevshow.com/episodes/83-all-about-roda-with-jeremy-evans'>Rubber Duck Dev Show 83: All About Roda with Jeremy Evans</a></li>
<li><a href='https://rubyrogues.com/polished-ruby-programming-ft-jeremy-evans-ruby-518'>Ruby Rogues 518: Polished Ruby Programming with Jeremy Evans</a></li>
<li><a href='https://devchat.tv/ruby-rogues/building-with-just-what-you-need-using-roda-with-jeremy-evans-ruby-507/'>Ruby Rogues 507: Building with Just What You Need Using Roda with Jeremy Evans</a></li>
<li><a href='https://rubyprize.jp/wp/wp-content/themes/wbs-child/movie/iv2020_JeremyEvans_en.mp4'>RubyPrize 2020 Interview</a> (<a href="https://rubyprize.jp/wp/wp-content/themes/wbs-child/movie/iv2020_JeremyEvans_ja.mp4">Japanese</a>)</li>
<li><a href='https://devchat.tv/ruby-rogues/mrs-031-jeremy-evans'>My Ruby Story 31: Jeremy Evans</a></li>
<li><a href='https://changelog.com/154/'>the changelog #154: All Things Ruby with 2015's Ruby Heroes</a></li>
<li><a href='http://devchat.tv/ruby-rogues/210-rr-roda-and-routing-trees-with-jeremy-evans'>Ruby Rogues 210: Roda and Routing Trees with Jeremy Evans</a></li>
</ul>

<h1>Text Interviews</h1>

<ul>
<li><a href='https://authors.packtpub.com/interview-with-jeremy-evans/'>Packt: Interview with Jeremy Evans (May 2021)</a></li>
<li><a href='https://evrone.com/jeremy-evans-interview'>Evrone: Interview with Jeremy Evans, Lead developer of Sequel & Roda (April 2021)</a></li>
<li><a href='https://rubyprize.jp/19_iv-nominees01-2-en.html'>RubyPrize 2019 Interview (November 2019)</a> (<a href="https://rubyprize.jp/19_iv-nominees01-2-ja.html">Japanese</a>)</li>
<li><a href='http://svitla.com/blog/rubyc-2014-presents-an-interview-with-jeremy-evans/'>RubyC 2014: Interview with Jeremy Evans (April 2014)</a></li>
<li><a href='http://habrahabr.ru/company/railsclub/blog/192564/'>RailsClub 2013: Interview with Jeremy Evans (August 2013)</a></li>
<li><a href='http://rubydev.ru/2011/10/interview-with-jeremy-evans-about-sequel-and-not-only/'>rubydev.ru: Interview with Jeremy Evans about Sequel and not only (October 2011)</a> (<a href="http://rubydev.ru/2011/10/interview_jeremy_evans_about_sequel_ru/">Russian Translation</a>)</li>
<li><a href='http://on-ruby.blogspot.com/2009/01/sequel-interview-with-jeremy-evans.html'>On Ruby: Sequel Interview with Jeremy Evans (January 2009)</a></li>
<li><a href='http://www.infoq.com/news/2008/11/sequel-ruby-db-toolkit'>InfoQ: Sequel Interview with Jeremy Evans (November 2008)</a></li>
</ul>

<h1>Podcast Hostings</h1>

<ul>
  <li><a href="https://www.rubytapas.com/2018/09/24/rubytapas_anchovy_toasts_with_jeremy_evans_2/">RubyTapas #546</a>: Memory Management in C Extensions - Part 2</li>
  <li><a href="https://www.rubytapas.com/2018/09/17/rubytapas_anchovy_toasts_with_jeremy_evans_1/">RubyTapas #545</a>: Memory Management in C Extensions - Part 1</li>
  <li><a href="https://ruby5.codeschool.com/episodes/632-episode-589-october-6th-2015">Ruby5 #589</a>: Lotus 0.5.0, Hello Ruby, threading case study, and reverse Ruby gems</li>
</ul>
