<h1><%= @title = 'OpenBSD' %></h1>

<p>I'm an <a href="http://www.openbsd.org">OpenBSD</a> developer (jeremy@), responsible for OpenBSD's ruby ports.</p>

<p>In addition to ruby related ports, I'm also the maintainer of the following OpenBSD ports:</p>

<ul>
  <li><a href="http://aqualung.jeremyevans.net/">audio/aqualung</a>: advanced music player</li>
  <li><a href="https://github.com/jeremyevans/mp3applygain">audio/mp3applygain</a>: apply gain information to mp3 audio data</li>
  <li><a href="https://www.postgresql.org/">databases/postgresql</a>: relational database</li>
  <li><a href="https://github.com/pllua/pllua">databases/postgresql-pllua</a>: Lua procedural language support for PostgreSQL</li>
  <li><a href="https://www.postgresql.org/">databases/postgresql-previous</a>: relational database, previous version to support pg_upgrade</li>
  <li><a href="http://fallabs.com/hyperestraier/index.html">textproc/hyperestraier</a>: high performance full-text search system</li>
</ul>
