<h1><% @title = 'Polished Ruby Programming' %></h1>

<h2>Reviews</h2>

<h3>Amazon</h3>

There are <a href="https://www.amazon.com/Polished-Ruby-Programming-maintainable-high-performance-ebook/product-reviews/B093TH9P7C">multiple reviews on Amazon</a>, including some from well known Rubyists:

<ul>
  <li><a href="https://www.amazon.it/gp/customer-reviews/R1BW0YRMY1B5OS">Paolo Perrota (Author of Metaprommaing Ruby)</a></li>
  <li><a href="https://www.amazon.com/gp/customer-reviews/R32VC6B529VG68">Takashi Kokubun (Ruby commiter, developer of Ruby's JIT compiler)</a></li>
  <li><a href="https://www.amazon.com/gp/customer-reviews/R3EEP0J8TF2CYC">Christopher Haupt (Author of <em>Ruby for Kids for Dummies</em>)</a></li>
</ul>

<h3>Juanito Fatas</h3>

<p>Juanito Fatas has written <a href="https://juanitofatas.com/polished-ruby-programming">a review of <em>Polished Ruby Programming</em></a>.</p>

<h3>Brandon Weaver</h3>

<p>Brandon has started a detailed chapter by chapter review of <em>Polished Ruby Programming</em>.</p>

<ul>
  <li><a href="https://dev.to/baweaver/let-s-read-polished-ruby-programming-2mh5">Chapter 1</a></li>
  <li><a href="https://dev.to/baweaver/let-s-read-polished-ruby-programming-ch-2-2gbi">Chapter 2</a></li>
</ul>
