<h1><%= @title = 'Presentations' %></h1>

<ul>
<li><a href="presentations/sf-ruby-meetup-2025-07/index.html">&quot;Eliminating Unnecessary Implicit Allocations&quot; Presentation at July 2025 SF Bay Area Ruby Meetup</a></li>
<li><a href="presentations/rubykaigi2025/index.html">&quot;Eliminating Unnecessary Implicit Allocations&quot; Presentation at RubyKaigi 2025</a> (<a href="https://www.youtube.com/watch?v=7Gmk8bH6UPE">Video</a>)</li>
<li><a href="presentations/sf-ruby-meetup-2024-11/index.html">&quot;The first 10 years of Roda&quot; Presentation at November 2024 SF Bay Area Ruby Meetup</a> (<a href="https://www.youtube.com/watch?v=emg8KhSKXzI&amp;t=5100s">Video</a>)</li>
<li><a href="presentations/rubyconf2024/index.html">&quot;10 Years of Roda&quot; Presentation at RubyConf 2024</a> (<a href="https://www.youtube.com/watch?v=GrYlZjbXeP8">Video</a>)</li>
<li><a href="presentations/rubykaigi2024/index.html">&quot;Reducing Implicit Allocations During Method Calling&quot; Presentation at RubyKaigi 2024</a> (<a href="https://www.youtube.com/watch?v=K7WK9NvNRzg">Video</a>)</li>
<li><a href="presentations/rubyconf2023/index.html">&quot;The Second Oldest Bug&quot; Presentation at RubyConf 2023</a> (<a href="https://www.youtube.com/watch?v=ZbAvVSW6aRQ">Video</a>)</li>
<li><a href="presentations/rubykaigi2023/index.html">&quot;The Second Oldest Bug&quot; Presentation at RubyKaigi 2023</a> (<a href="https://www.youtube.com/watch?v=y_1iqQOkv1E">Video</a>)</li>
<li><a href="presentations/rubyconfth2022/index.html">&quot;Roda: Simplicity, Reliability, Extensibility, Performance&quot; Presentation at RubyConfTH 2022</a> (<a href="https://www.youtube.com/watch?v=9fukis_VHl4">Video</a>)</li>
<li><a href="presentations/rubyconf2022/index.html">&quot;Helping Redistrict California with Ruby&quot; Presentation at RubyConf 2022</a> (<a href="https://www.youtube.com/watch?v=v1p-cvOuwIk">Video</a>)</li>
<li><a href="presentations/rubykaigi2022/index.html">&quot;Fixing Assignment Evaluation Order&quot; Presentation at RubyKaigi 2022</a> (<a href="https://www.youtube.com/watch?v=oqvFi7crbd4">Video</a>)</li>
<li><a href="presentations/rubyconfpk2022/index.html">&quot;Roda: Simplicity, Reliability, Extensibility, Performance&quot; Presentation at RubyConf Pakistan March 2022</a> (<a href="https://www.youtube.com/watch?v=6lEAKMBs_tY">Video</a>)</li>
<li><a href="presentations/rubyconf2021/index.html">&quot;Optimizing Partial Backtraces in Ruby 3&quot; Presentation at RubyConf 2021</a> (<a href="https://www.youtube.com/watch?v=6wOiN1MWl9U">Video</a>)</li>
<li><a href="presentations/rubykaigi2021/index.html">&quot;Optimizing Partial Backtraces in Ruby 3&quot; Presentation at RubyKaigi 2021</a> (<a href="https://www.youtube.com/watch?v=QDbj4Y0E5xo">Video</a>)</li>
<li><a href="presentations/rubyworld2020/index.html">&quot;Object Model Improvements in Ruby 3&quot; Presentation at RubyWorld 2020</a> (<a href="https://www.youtube.com/watch?v=2fldr2HcuVw&amp;t=3935s">Video</a>)</li>
<li><a href="presentations/rubykaigi2020/index.html">&quot;Keyword Arguments: Past, Present, and Future&quot; Presentation at RubyKaigi 2020</a> (<a href="https://www.youtube.com/watch?v=rxJRrccXRfg">Video</a>)</li>
<li><a href="presentations/pivorak-2020-05/index.html">&quot;Rodauth: Ruby's Most Advanced Authentication Framework&quot; Presentation at Pivorak Conf 5.0</a> (<a href="https://www.youtube.com/watch?v=5rjjCZmbB6c&amp;t=10s">Video</a>)</li>
<li><a href="presentations/parisrb2020/index.html">&quot;Running a Government Department with Sequel and Roda&quot; Presentation at ParisRB Conf 2020</a> (<a href="https://www.youtube.com/watch?v=sUBgL_FYUlM">Video</a>)</li>
<li><a href="presentations/rubykaigi2019/index.html">&quot;Optimization Techniques Used by the Benchmark Winners&quot; Keynote Presentation at RubyKaigi 2019</a> (<a href="https://www.youtube.com/watch?v=RuGZCcEL2F8">Video</a>)</li>
<li><a href="presentations/rubyconf2018/index.html">&quot;Running a Government Department on Ruby for over 13 Years&quot; Presentation at RubyConf 2018</a> (<a href="https://www.youtube.com/watch?v=k7j4p4I1icY">Video</a>)</li>
<li><a href="presentations/rubyhack2018/index.html">&quot;Ruby Web Application Security Defense in Depth&quot; Presentation at RubyHACK 2018</a> (<a href="https://www.youtube.com/watch?v=2RvbpFVhmTw">Video</a>)</li>
<li><a href="presentations/isleofruby2018/index.html">&quot;Running a Government Department on Ruby for over 12 Years&quot; Presentation at Isle of Ruby 2018</a> (<a href="https://www.youtube.com/watch?v=2Rm7wLNmsco">Video</a>)</li>
<li><a href="presentations/rubyconflt2016/index.html">&quot;Rodauth: Website Security Through Database Security&quot; Presentation at RubyConf LT 2016</a> (1024x768, 50 minutes)</li>
<li><a href="presentations/rubyconfby2016/index.html">&quot;Rodauth: Website Security Through Database Security&quot; Presentation at RubyConf BY 2016</a> (1280x720, 40 minutes) (<a href="https://www.youtube.com/watch?v=z3HZZHXXo3I">Video</a>)</li>
<li><a href="presentations/railsconf2015/index.html">&quot;Roda&quot; Lightning Talk at RailsConf 2015</a> (<a href="presentations/railsconf2015b/index.html">4x3 version</a>) (<a href="https://www.youtube.com/watch?v=N92aD4mNUFA&amp;t=1995s">Video</a>)</li>
<li><a href="presentations/mwrc2015/index.html">&quot;Better Routing Through Trees&quot; Presentation at MountainWest RubyConf 2015</a> (<a href="presentations/mwrc2015b/index.html">4x3 version</a>) (<a href="https://www.youtube.com/watch?v=PjnlsIJYkn0">Video</a>)</li>
<li><a href="presentations/rubyconf2014/index.html">&quot;Roda: The Routing Tree Web Framework&quot; Presentation at RubyConf 2014</a> (<a href="presentations/sacruby201411/index.html">4x3 version</a>) (<a href="https://www.youtube.com/watch?v=W8zglFFFRMM">Video</a>)</li>
<li><a href="presentations/rubyc2014-2/index.html">&quot;Give-and-Go with PostgreSQL and Sequel&quot; Presentation at RubyC 2014</a> (<a href="https://www.youtube.com/watch?v=toAcnwqlU1Q">Video</a>)</li>
<li><a href="presentations/rubyc2014-1/index.html">&quot;Deep Dive Into Eager Loading Limited Associations&quot; Presentation at RubyC 2014</a> (<a href="https://www.youtube.com/watch?v=KbF7RMk_2Qo">Video</a>)</li>
<li><a href="presentations/railsclub2013/index.html?trans=no">&quot;Give-and-Go with PostgreSQL and Sequel&quot; Presentation at RailsClub 2013 Moscow</a> (<a href="presentations/railsclub2013/index.html">In Russian</a>)</li>
<li><a href="presentations/sacruby201207/index.html">&quot;Parsing Advanced PostgreSQL Types&quot; Short Presentation at July 2012 Sacramento Ruby Meetup </a></li>
<li><a href="presentations/heroku201205/index.html">&quot;The Development of Sequel&quot; Presentation in May 2012 at Heroku</a></li>
<li><a href="presentations/sacruby201201/index.html">&quot;Quinto and Coffeescript/NodeJS&quot; Short Presentation at January 2012 Sacramento Ruby Meetup </a></li>
<li><a href="presentations/pgwest2011/index.html">&quot;Sequel: The Database Toolkit for Ruby&quot; Presentation at PostgreSQL Conference West 2011</a></li>
<li><a href="presentations/sacruby201109/index.html">&quot;evilr: Do Things You Shouldn't&quot; Short Presentation at September 2011 Sacramento Ruby Meetup </a></li>
<li><a href="presentations/rc2010_presentation/index.html">&quot;Knocking Ruby's Date and DateTime Performance Out of the Park with home_run&quot; Presentation at RubyConf 2010</a> (<a href="https://www.youtube.com/watch?v=dVxza_5K1ks">Video</a>)</li>
<li><a href="presentations/rubymw2010_lightning_talk/index.html">&quot;Singleton Classes of Singleton Classes&quot; Lightning Talk at Ruby Midwest 2010</a></li>
<li><a href="presentations/rubymw2010_presentation/index.html">&quot;Ruby Techniques By Example&quot; Presentation at Ruby Midwest 2010</a></li>
<li><a href="presentations/sacruby201004_presentation/index.html">&quot;Ruby Techniques By Example&quot; Presentation at April 2010 Sacramento Ruby Group Meeting</a></li>
<li><a href="presentations/mwrc2010_presentation/mwrc2010.html">&quot;Ruby Techniques By Example&quot; Presentation at MountainWest RubyConf 2010</a> (<a href="https://www.youtube.com/watch?v=F2NGGrLhYKw">Video</a>)</li>
<li>&quot;NoSequel&quot; Lightning Talk at MountainWest RubyConf 2010 (<a href="presentations/mwrc2010_presentation/no-sequel-code.txt">Code</a>) (<a href="https://www.youtube.com/watch?v=lKwIKXv0GOY&amp;t=315s">Video</a>)</li>
<li><a href="presentations/lsrc2009_presentation/sequel-lsrc2009.html">&quot;Sequel: SQL in Ruby&quot; Presentation at Lone Star Ruby Conference 2009</a></li>
<li><a href="presentations/rk2009_presentation/sequel-rubykaigi2009.html">&quot;Sequel: SQL in Ruby&quot; Presentation at RubyKaigi 2009</a></li>
<li><a href="presentations/larc2009_presentation/sequel-larc2009-pres.html">&quot;Sequel: The Database Toolkit for Ruby&quot; Presentation at LA Ruby Conf 2009</a> (<a href="https://www.youtube.com/watch?v=0Euba97UEdI">Video</a>)</li>
<li><a href="presentations/mwrc2009_presentation.html">&quot;Sequel: The Database Toolkit for Ruby&quot; Presentation at MountainWest RubyConf 2009</a> (<a href="https://www.youtube.com/watch?v=yCjtdfv9Z_0">Video</a>) (<a href="presentations/mwrc2009_presentation.txt">Transcript</a>)</li>
</ul>
