<h1><%= @title = 'Ruby' %></h1>

<p>I'm a <a href="http://www.ruby-lang.org">Ruby</a> committer, mostly focusing on general bug fixing.</p>

<p>I maintain many Ruby libraries, some of the more popular ones are:</p>

<ul>
<li><a href="http://sequel.jeremyevans.net">Sequel</a>: The Database Toolkit for Ruby</li>
<li><a href="http://roda.jeremyevans.net">Roda</a>: Routing Tree Web Toolkit</li>
<li><a href="http://rodauth.jeremyevans.net">Rodauth</a>: Ruby's Most Advanced Authentication Framework</li>
<li><a href="https://github.com/jeremyevans/erubi">Erubi</a>: ERB Template Engine (used by most Ruby web frameworks)</li>
<li><a href="https://github.com/jeremyevans/american_date">american_date</a>: American style month/day/year date parsing for Ruby</li>
<li><a href="https://github.com/jeremyevans/minitest-hooks">minitest-hooks</a>: before(:all)/after(:all)/around/around(:all) hooks for minitest</li>
<li><a href="https://github.com/jeremyevans/ruby-warning">ruby-warning</a>: Custom processing for Ruby warnings</li>
</ul>
