<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>code.jeremyevans.net</title>
<link rel="stylesheet" type="text/css" href="/css/code.jeremyevans.net.css" />
</head>

<body>
<div id="content">
{{ content }}
</div>

<div id="nav">
<a href="/" id="banner">code</a>

<a href="http://github.com/jeremyevans/sequel">Sequel</a>
<a href="http://github.com/jeremyevans/aqualung">Aqualung</a>
<a href="http://github.com/jeremyevans/home_run">home_run</a>
<a href="http://github.com/jeremyevans/scaffolding_extensions">Scaffolding Extensions</a>
<a href="http://github.com/jeremyevans">Other Projects</a>
<br />
<a href="/contrib.html">Contributions</a>
<a href="/openbsd.html">OpenBSD</a>
<br />
<a href="http://jeremyevans-pres.heroku.com">Presentations</a>
</div>
</body></html>
