<!DOCTYPE html>

<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>code.jeremyevans.net</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>

<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand">code.jeremyevans.net</a>

      <ul class="nav">
        <li><a href="/openbsd.html">OpenBSD</a></li>
        <li><a href="http://github.com/jeremyevans/sequel">Sequel</a></li>
        <li class="divider-vertical"></li>
        <li><a href="http://github.com/jeremyevans">Other Projects</a></li>
        <li class="divider-vertical"></li>
        <li><a href="/contrib.html">Contributions</a></li>
        <li><a href="/presentations.html">Presentations</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
{{ content }}
</div>

</body></html>
